#cards {
  /* 軸 - row */
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* 卡片在容器裡的排版 */
  flex: 7% 0 1;
  height: 8vw;
  border: 2px solid black;
  /* flex-basis, flex-grow, flex-shirnk */

  margin: 2px;

  /* 卡片內部元素的排版 */
  display: flex;
  /* main axis */
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  /* 大小 */
  max-width: 30%;
  /* 排版  */
  /* 因為這邊主要軸是column，所以這邊交叉軸是row */
  align-self: center;
}

.card p {
  /* 因瀏覽器預設會導致超出範圍，故須設定margin */
  margin: 3px;
  font-size: 10px;
}

.card p:last-child {
  /* 改變角度 */
  transform: rotate(180deg);
}
